/*====== Start Genaral Style==============*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
    color: #333333;
}
span {
    font-family: "Roboto", sans-serif;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #555555;
    line-height: 25px;
    font-weight: 400;
}

span {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix {
    clear: both;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

div img {
    width: 100%;
    display: block;
}

div input {
    width: 100%;
}

.padding-section {
    padding-top: 100px;
    padding-bottom: 125px;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

/*posude Line format*/
.line {
    width: 30%;
    height: 1px;
    margin: auto;
    background-color: #ff305b;
    position: relative;
    margin-bottom: 40px;
}

.line::before {
    content: "";
    width: 50%;
    right: 25%;
    height: 1px;
    background-color: #ff305b;
    position: absolute;
    bottom: 5px;
}

.line::after {
    content: "";
    width: 50%;
    right: 25%;
    height: 1px;
    background-color: #ff305b;
    position: absolute;
    top: 5px;
}

.margin-right-28 {
    margin-right: 28px;
}

.margin-bottom-28 {
    margin-bottom: 28px;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

.m-auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.f-size-40px {
    font-size: 40px;
}

.f-weight-800 {
    font-weight: 800;
}

.f-size-24px {
    font-size: 24px;
}

.f-weight-600 {
    font-weight: 600;
}

div iframe {
    width: 100%;
}

.margin-right-21px {
    margin-right: 21px;
}
/*====== End Genaral Style==============*/

/*--------------- Start Header Style ------------------*/
#header {
    background-image: url(../images/header.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

#header .container {
    position: relative;
    z-index: 10;
    top: 0;
}

#header .bg-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

#header .navbar .logo-text {
    padding: 16px 0;
}

/*Style Logo text*/
#header .navbar .logo-text a {
    font-size: 24px;
    color: #ff305b;
}

#header .navbar .navbar-menu .linkes {
    padding: 21px 0;
}

#header .navbar .navbar-menu .linkes li {
    margin-left: 10px;
    margin-right: 10px;
}

/* The home link is highlighted with a colour */
#header .navbar .navbar-menu .linkes a.home-link {
    color: #ff305b;
}

/*Link formatting*/
#header .navbar .navbar-menu .linkes li a {
    color: white;
    font-weight: 300;
    font-size: 16px;
    transition: color 0.5s;
}

/* Change color of all links on hover */
#header .navbar .navbar-menu .linkes a:hover {
    color: #ff305b;
}

/*Formatting header content*/
#header .header-content {
    padding-top: 30vh;
}

#header .header-content span {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
}

#header .header-content h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ff305b;
    margin-top: 0;
    margin-bottom: 8px;
}

#header .header-content p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}

/*--------------- End Header Style ------------------*/

/*--------------- Start About Style ------------------*/

#about .about-card {
    width: 32%;
    border: 8px solid #555555;
    border-radius: 8px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 50px;
}

#about .about-content {
    width: 55%;
}

/*Position to about card*/
#about .about-card .img-about {
    position: relative;
    top: 25px;
    left: 25px;
    overflow: hidden;
    border-radius: 10px;
}

#about .about-card .img-about img {
    border-radius: 10px;
}

/*Foramtting Layer*/
#about .about-card .img-about .layer {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

#about .about-card .img-about .layer a {
    color: #fff;
}

/*When you move over the images, a layer appears.*/
#about .about-card .img-about:hover .layer {
    transform: translateY(0);
}

#about .about-card .img-about .layer div.icons {
    padding-top: 56%;
    opacity: 0;
    transition: opacity 1s 0.01s;
}
/*When you hover over images, icons appear*/
#about .about-card .img-about:hover div.icons {
    opacity: 1;
}

#about .about-card .img-about .layer div a {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.5s;
}

/*Icon color changes when hover*/
#about .about-card .img-about .layer div a:hover {
    color: #ff305b;
}

#about .about-content .about-text h2 {
    font-size: 34px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 15px;
}

#about .about-content .about-text p {
    border-bottom: 1px dashed #999999;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 25px;
}

#about .about-content .about-text h2::before {
    content: "I";
    color: #ff305b;
    position: absolute;
    top: 0;
    left: 0;
}

#about .about-content .about-info .about-info-items-1 {
    margin-right: 45px;
}

#about .about-content .about-info .about-info-items-2 {
    margin-left: 45px;
}

#about .about-content .about-info span.label {
    font-weight: 500;
    color: 333;
}

#about .about-content .about-info .info-item {
    margin-bottom: 25px;
}
#about .about-content .about-info span {
    color: #555;
}

#about .about-content .about-info a {
    color: #555;
}

#about .about-content .about-btn button {
    padding: 15px 25px;
    background-color: #ff305b;
    border: 0;
    border-radius: 4px;
    transition: background-color 1s;
}

#about .about-content .about-btn button:hover {
    background-color: #ec2403;
}
#about .about-content .about-btn button a {
    color: #fff;
    font-weight: 400;
    font-size: 16;
}

#about .about-content .about-btn .btn-1 {
    margin-right: 10px;
}

/*--------------- End About Style ------------------*/

/*--------------- ÙStart Services Style ------------------*/
#services {
    background-color: #f1f1f1;
}

#services .services-title h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

#services .services-cards .card {
    width: 22%;
    padding: 40px 15px;
    border-radius: 2px;
    background-color: transparent;
    transition:  background-color 0.5s;
}

/*===== Effect one ===> card*/

#services .services-cards .card:hover {
    background-color: #fff;
}

#services .services-cards .card h3 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

#services .services-cards .card i {
    font-size: 30px;
    color: #ff305b;
    transition: transform 0.5s;
}

/*===== Effect second ===> Icons*/
#services .services-cards .card:hover i {
    transform: scale(1.2);
}
/*--------------- End Services Style ------------------*/

/*--------------- Start Portfolio Style ------------------*/

#portfolio .portfolio-filter {
    margin-bottom: 50px;
}

#portfolio .portfolio-filter a {
    padding: 10px;
    color: #333;
}

#portfolio .portfolio-filter a.all {
    color: #ff305b;
}

#portfolio .portfolio-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#portfolio .portfolio-gallery .gallery-item {
    width: 31.5%;
    position: relative;
    top: 0;
    left: 0;
}

#portfolio .portfolio-gallery .gallery-item .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
}

/*Show layer when mouse hover*/
#portfolio .portfolio-gallery .gallery-item:hover .layer {
    opacity: 1;
}

#portfolio .portfolio-gallery .layer i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: color 0.3s;
}

#portfolio .portfolio-gallery .gallery-item:hover:hover i {
    color: #ff305b;
}

/*--------------- End Portfolio Style ------------------*/

/*--------------- Start Testimonial Style---------------*/
#testimonial {
    background-color: #f1f1f1;
}

#testimonial .counter-box {
    width: 25%;
}

#testimonial .counter-box div i {
    font-size: 26px;
    color: #ff305b;
}

#testimonial .counter-box .counter {
    margin: 10px 0;
    font-size: 26px;
    font-family: "Source Sans 3", sans-serif;
}

#testimonial .counter-box h3 {
    margin-top: 0;
    margin-bottom: 0;
}
/*--------------- END Testimonial Style---------------*/

/*--------------- Start feedback Style---------------*/

#feedback .feedback-title h2 {
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

#feedback .feedback-client {
    width: 59%;
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

#feedback .feedback-client::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid #ff305b;
    border-left: 100px solid #ff305b;
    border-bottom: 100px solid transparent;
    border-right: 100px solid transparent;
}

#feedback .feedback-client .feed-image {
    width: 18%;
    height: 18%;
    position: relative;
    z-index: 10;
}

#feedback .feedback-client .feed-image img {
    border-radius: 50%;
}

#feedback .feedback-client .feed-content {
    width: 78%;
}
#feedback .feedback-client .feed-content h3 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 26px;
    font-weight: 600;
}

#feedback .feedback-client .feed-content a {
    color: #777;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
}

#feedback .feedback-client .feed-content p {
    font-style: italic;
    margin-top: 10px;
}

#feedback .feedback-client .feed-content .star {
    color: gold;
}

/*--------------- END feedback Style---------------*/

/*=============== Start Section Our Blog================-*/

#blog {
    background-color: #f1f1f1;
}
#blog .blog-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#blog .blog-items .item {
    width: 32%;
    background-color: #fff;
}

#blog .blog-items .item .image-blog {
    margin-bottom: 10px;
}

#blog .blog-items .item h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

#blog .blog-items .item p {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 16;
}
#blog .blog-items .item .blog-text {
    padding: 20px;
}

#blog .blog-items .item .blog-text .link-blog {
    font-size: 16px;
    font-weight: 400;
}

#blog .blog-items .item .blog-text a {
    color: #333;
    transition: color 0.5s;
}
#blog .blog-items .item .blog-text a:hover {
    color: #ff305b;
}

#blog .blog-items iframe {
    margin-bottom: 10px;
}
/*=============== End Section Our Blog================-*/

/*================ Start Section Contact================*/

#contact .contact-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#contact .contact-form {
    width: 66%;
    margin: auto;
}

#contact .contact-form input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    outline: none;
    transition: 0.5s;
}

#contact .contact-form input::placeholder {
    color: #adadad;
    font-family: "Roboto", sans-serif;
}
#contact .contact-form input:focus {
    border: 1px solid #ff305b;
}

#contact .contact-form .user-info {
    margin-bottom: 25px;
}
#contact .contact-form .input-subject {
    margin-bottom: 25px;
}

/* text area*/
#contact .contact-form textarea {
    width: 100%;
    height: 25%;
    border-radius: 5px;
    resize: vertical;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    outline: none;
    transition: 0.5s;
}

#contact .contact-form textarea::placeholder {
    font-family: "Roboto", sans-serif;
}

#contact .contact-form textarea:focus {
    border: 1px solid #ff305b;
}

#contact .contact-form .form-btn button {
    margin-top: 25px;
    padding: 15px 25px;
    color: #fff;
    background-color: #ff305b;
    border: 0px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#contact .contact-form .form-btn button:hover {
    background-color: #ec2403;
}
/*================ End Section Contact================*/

/*================ Start Section Footer================*/

#footer {
    background-color: #333333;
    padding: 50px;
}

#footer .icons a {
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    transition: color 0.5s;
}

#footer .icons a:hover {
    color: #ff305b;
}

#footer p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
}

#footer p a {
    color: #ff305b;
    font-weight: 400;
    font-size: 16px;
    transition: text-decoration 0.5s;
}

#footer p a:hover {
    text-decoration: underline;
}

/*================ End Section Footer================*/
